@import "../variables.scss";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  .site-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5vw;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    font-size: 1.2em;
    background-color: $main-bg-color;
  }

  .menu-link {
    background-color: darkblue;
  }
}
