:host {
  display: flex;
  flex-direction: column;
  width: 100vw;

  .site-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
