@import "../variables.scss";

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $main-bg-color;

  .menu-links {
    padding-left: 5vw;
  }
  .contacts {
    padding-right: 5vw;
  }
}
