<h1 mat-dialog-title>Замовлення {{ data.itemData.id }}</h1>
<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Данні про клієнта">
      <form (submit)="onSubmit()" class="dialog-form">
        <mat-form-field>
          <mat-label>Статус </mat-label>
          <mat-select [(ngModel)]="data.itemData.status" name="status">
            <mat-option
              *ngFor="let status of orderStatuses"
              [value]="status.key"
              >{{ status.value }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Покупатель </mat-label>
          <input matInput [(ngModel)]="data.itemData.buyer" name="buyer" />
        </mat-form-field>
        <mat-form-field>
          <mat-label> Телефон </mat-label>
          <input matInput [(ngModel)]="data.itemData.phone" name="phone" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Область</mat-label>
          <mat-select name="region" [(ngModel)]="data.itemData.region" required>
            <mat-option *ngFor="let region of regions" [value]="region.key">{{
              region.value
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Город </mat-label>
          <input matInput [(ngModel)]="data.itemData.city" name="city" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Отделение службы доставки </mat-label>
          <input
            matInput
            [(ngModel)]="data.itemData.deliveryDepartment"
            name="deliveryDepartment"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label> Примечание </mat-label>
          <input matInput [(ngModel)]="data.itemData.phone" name="phone" />
        </mat-form-field>
      </form>
    </mat-tab>
    <mat-tab label="Товари">
      <div class="order-add-products">
        <app-search (search)="onSearch($event)" class="primary"></app-search>
        <app-product-item
          *ngFor="let product of products"
          [data]="product"
          (choose)="onChooseProduct($event)"
          class="flat"
        ></app-product-item>
      </div>
      <div class="order-products-block">
        <app-bascket-item
          *ngFor="let basketItem of basketItems"
          [data]="basketItem"
          (changeCount)="onChangeCount($event)"
          (remove)="onRemoveProduct($event)"
        >
        </app-bascket-item>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Отмена</button>
  <button
    mat-button
    color="primary"
    [disabled]="
      !data.itemData.buyer ||
      !data.itemData.phone ||
      !data.itemData.city ||
      !data.itemData.region
    "
    [mat-dialog-close]="data.itemData"
    cdkFocusInitial
  >
    {{ data.itemData.id ? "Сохранить" : "Создать" }}
  </button>
</div>
