<mat-card class="delivery-info">
  <mat-card-header class="delivery-header">Доставка</mat-card-header>
  <mat-card-content>
    <p>По Харькову возможен самовывоз или доставка курьером.</p>
    <p>
      По Украине доставка транспортной компанией «Новая почта».
    </p>
    <p>
      Доставка оплачивается покупателем согласно тарифам транспортной компании.
      «Новая почта» делает деревянную обрешетку на товары, в связи с этим выдача
      заказа на грузовом отделении (до 1000 кг.)
    </p>
    <p>
      При получении посылки обязательным условием является распаковка и проверка
      товара в присутствии работника «Новой почты».
    </p>
  </mat-card-content>
</mat-card>
<mat-card class="delivery-payments">
  <mat-card-header class="delivery-header">Оплата</mat-card-header>
  <mat-card-content>
    <p>Безналичный расчет, оплата на кассе банка.</p>
    <p>Оплата на карту ПриватБанка. Оплата картой Visa, Mastercard — LiqPay</p>
    <p>
      Наложенный платеж (Включает 2% от стоимости заказа + оформление документов
      — от 20 грн)
    </p>
  </mat-card-content>
</mat-card>
