:host {
  .mat-form-field {
    width: 100%;
  }
  .mat-dialog-actions {
    justify-content: space-between;
  }
  .checkbox-list {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow: auto;
  }
}
