<h1 mat-dialog-title>Запись галереи {{ data.itemData.id }}</h1>
<div mat-dialog-content>
  <form (submit)="onSubmit()">
    <mat-form-field>
      <mat-label>Подпись</mat-label>
      <input matInput [(ngModel)]="data.itemData.title" name="title" />
    </mat-form-field>
    <div>Изображениe</div>
    <app-image-list
      (add)="onAddImage($event)"
      [settings]="imageListSettings"
      [images]="[data.itemData.imageUrl]"
      (remove)="onRemoveItem()"
    >
    </app-image-list>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Отмена</button>
  <button
    mat-button
    color="primary"
    [disabled]="!data.itemData.title"
    [mat-dialog-close]="data.itemData"
    cdkFocusInitial
  >
    {{ data.itemData.id ? "Сохранить" : "Создать" }}
  </button>
</div>
