<mat-card class="order-customer">
  <mat-card-title>Оформление заказа</mat-card-title>
  <mat-card-content>
    <form *ngIf="orderItems.length" (ngSubmit)="onSubmit()" class="order-form">
      <mat-form-field>
        <mat-label>Имя и фамилия</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="order.buyer"
          name="buyer"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Телефон</mat-label>
        <input
          matInput
          type="tel"
          [(ngModel)]="order.phone"
          name="phone"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Область</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="order.region"
          name="region"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Город</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="order.city"
          name="city"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Отделение доставки</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="order.deliveryDepartment"
          name="deliveryDepartment"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Примечание</mat-label>
        <input matInput type="text" [(ngModel)]="order.notes" name="notes" />
      </mat-form-field>
      <button
        class="button"
        [disabled]="!order.isValid()"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Подтвердить заказ
      </button>
    </form>
    <div *ngIf="!orderItems.length && !orderId" class="order-is-empty">
      Сначала добавьте товары в корзину
    </div>
    <div *ngIf="orderId" class="order-created">
      Ваш заказ {{ orderId }} успешно оформлени. <br />
      Ожидайте звонка менеджера.
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="order-details" *ngIf="orderItems.length">
  <mat-card-title>Ваш заказ</mat-card-title>
  <mat-card-content>
    <div *ngFor="let orderItem of orderItems" class="order-item">
      <div>
        <strong>{{ orderItem.product.title }}</strong>
      </div>
      <div>
        {{ orderItem.count }} од. x {{ orderItem.product.price | currency }} =
        {{ orderItem.getPrice() | currency }}
      </div>
    </div>
    <div class="order-details-summary">
      Сумма заказа: {{ totalPrice | currency }}
    </div>
  </mat-card-content>
</mat-card>
