<mat-card class="order-customer">
  <mat-card-title>Оформлення замовлення</mat-card-title>
  <mat-card-content>
    <form *ngIf="orderItems.length" (ngSubmit)="onSubmit()" class="order-form">
      <mat-form-field>
        <mat-label>Ім'я та прізвище</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="order.buyer"
          name="buyer"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Телефон</mat-label>
        <input
          matInput
          type="tel"
          [(ngModel)]="order.phone"
          name="phone"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Область</mat-label>
        <mat-select name="region" [(ngModel)]="order.region" required>
          <mat-option *ngFor="let region of regions" [value]="region.key">{{
            region.value
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Населений пункт</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="order.city"
          name="city"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Відділення доставки</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="order.deliveryDepartment"
          name="deliveryDepartment"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Примітки</mat-label>
        <input matInput type="text" [(ngModel)]="order.notes" name="notes" />
      </mat-form-field>
      <button
        class="button"
        [disabled]="!order.isValid()"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Підтвердити замовлення
      </button>
    </form>
    <div *ngIf="!orderItems.length && !orderId" class="order-is-empty">
      Спочатку додайте товари в кошик
    </div>
    <div *ngIf="orderId" class="order-created">
      Ваше замовлення № <span class="order-number">{{ orderId }} </span> вдало
      оформлено. <br />
      Очікуйте дзвінка менеджера.
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="order-details" *ngIf="orderItems.length">
  <mat-card-title>Ваше замовлення</mat-card-title>
  <mat-card-content>
    <div *ngFor="let orderItem of orderItems" class="order-item">
      <div>
        <strong>{{ orderItem.product.title }}</strong>
      </div>
      <div>
        {{ orderItem.count }} од. x {{ orderItem.product.price | currency }} =
        {{ orderItem.getPrice() | currency }}
      </div>
    </div>
    <div class="order-details-summary">
      Сума замовлення: {{ totalPrice | currency }}
    </div>
  </mat-card-content>
</mat-card>
