<mat-card class="order-customer">
  <mat-card-title>Оформление заказа</mat-card-title>
  <mat-card-content>
    <form
      *ngIf="orderItems.length"
      [formGroup]="checkoutForm"
      (ngSubmit)="onSubmit(checkoutForm.value)"
      class="order-form"
    >
      <mat-form-field>
        <mat-label>Имя и фамилия</mat-label>
        <input matInput id="buyer" type="text" formControlName="buyer" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Телефон</mat-label>
        <input matInput id="phone" type="tel" formControlName="phone" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput id="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Область</mat-label>
        <input matInput id="region" type="text" formControlName="region" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Город</mat-label>
        <input matInput id="city" type="text" formControlName="city" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Отделение доставки</mat-label>
        <input matInput id="deliveryDepartment" type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Примечание</mat-label>
        <input matInput id="notes" type="text" formControlName="notes" />
      </mat-form-field>
      <button class="button" mat-raised-button color="primary" type="submit">
        Подтвердить заказ
      </button>
    </form>
    <div *ngIf="!orderItems.length && !orderId" class="order-is-empty">
      Сначала добавьте товары в корзину
    </div>
    <div *ngIf="orderId" class="order-created">
      Ваш заказ {{ orderId }} успешно оформлени. <br />
      Ожидайте звонка менеджера.
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="order-details" *ngIf="orderItems.length">
  <mat-card-title>Ваш заказ</mat-card-title>
  <mat-card-content>
    <div *ngFor="let orderItem of orderItems" class="order-item">
      <div>
        <strong>{{ orderItem.product.title }}</strong>
      </div>
      <div>
        {{ orderItem.count }} од. x
        {{ orderItem.product.price.toFixed(2) }} грн. =
        {{ orderItem.getPrice().toFixed(2) }} грн
      </div>
    </div>
    <div class="order-details-summary">
      Сумма заказа: {{ totalPrice.toFixed(2) }} грн.
    </div>
  </mat-card-content>
</mat-card>
