<mat-card>
  <mat-card-header style="flex-direction: column;">
    <div class="partners-header-text">
      Товари представлені на сайті ви можете придбаті у наших партнерів:
    </div>
    <div>
      <mat-form-field class="partners-filter-field">
        <mat-label>Область</mat-label>
        <mat-select (selectionChange)="onRegionChanged($event.value)">
          <mat-option *ngFor="let region of regions" [value]="region">
            {{ region }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="partners-filter-field">
        <mat-label>Населений пункт</mat-label>
        <mat-select (selectionChange)="onCityChanged($event.value)">
          <mat-option *ngFor="let city of cities" [value]="city">
            {{ city }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-header>
  <mat-card-content class="partners-list">
    <mat-card class="partner-content" *ngFor="let partner of partners">
      <div class="partner-content-name">{{ partner.name }}</div>
      <app-image class="partner-image" [src]="partner.imageUrls"></app-image>
      <div class="partner-contacts">
        <div>{{ partner.region }}, {{ partner.city }}</div>
        <div>{{ partner.address }}</div>
        <div>
          <strong>{{ partner.contacts }}</strong>
        </div>
      </div>
    </mat-card>
  </mat-card-content>
</mat-card>
