:host {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em 2em;
  font-size: 1.5em;

  .partners-filter-field {
    padding-right: 20px;
  }

  .partner-content {
    display: flex;
    flex-direction: row;
    .partner-image {
    }
    .partner-contacts {
    }
  }
}
