<mat-tab-group>
  <mat-tab label="Замовлення">
    <app-admin-orders></app-admin-orders>
  </mat-tab>
  <mat-tab label="Товари"> <app-admin-products></app-admin-products> </mat-tab>
  <mat-tab label="Категорії">
    <app-admin-categories></app-admin-categories>
  </mat-tab>
  <mat-tab label="Партнери">
    <app-admin-partners></app-admin-partners>
  </mat-tab>
  <mat-tab label="Галерея">
    <app-admin-gallery></app-admin-gallery>
  </mat-tab>
  <mat-tab label="Різне">
    <app-admin-product-options></app-admin-product-options>
    <app-admin-product-parts></app-admin-product-parts>
  </mat-tab>
</mat-tab-group>
