:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .product-image {
    max-width: 100%;
    border-radius: 20px;
    cursor: pointer;
  }

  .product-name {
    padding: 0.5em 0;
    font-size: 1.3em;
    text-align: center;
    cursor: pointer;
  }

  .product-price {
    font-size: 1.3em;
    color: brown;
    cursor: pointer;
  }
  .product-buy-action {
    background-color: lightblue;
    position: absolute;
    top: 15px;
    right: 7%;
  }
}
