<h1 mat-dialog-title>Компонент {{ data.productPart.id }}</h1>
<div mat-dialog-content>
  <form (submit)="onSubmit()">
    <mat-form-field>
      <mat-label>Название компонента </mat-label>
      <input matInput [(ngModel)]="data.productPart.name" name="name" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Отмена</button>
  <button
    mat-button
    color="primary"
    [disabled]="!data.productPart.name"
    [mat-dialog-close]="data.productPart"
    cdkFocusInitial
  >
    {{ data.productPart.id ? "Сохранить" : "Создать" }}
  </button>
</div>
