:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  &.primary {
    .search-input {
      background-color: lightblue;
    }
  }
  .search-input {
    width: 20vw;
    min-width: 100px;
    font-size: 1.2em;
    text-align: end;
    border: none;
    outline: none;
  }
  .search-button {
    margin: 5px;
  }
}
