<app-bascket-item
  *ngFor="let item of bascketItems"
  [data]="item"
  class="wide"
  (changeCount)="onChangeCount($event)"
  (remove)="onRemoveProduct($event)"
>
</app-bascket-item>
<div *ngIf="!bascketItems.length" class="bascket-is-empty">
  Сначала добавьте товары в корзину
</div>
<div class="bascket-total" *ngIf="bascketItems.length">
  <div class="bascket-total-price">
    Сумма заказа: {{ getTotalPrice() | currency }}
  </div>
  <div
    class="bascket-total-order"
    *ngIf="!showOrderForm"
    (click)="createOrder()"
  >
    Оформить заказ
  </div>
</div>
