/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  width: 100%;
  overflow: scroll;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* ngx-gallery styles start */
.ngx-gallery-thumbnail:not(.ngx-gallery-active) {
  border: none !important;
}

.ngx-gallery-thumbnail.ngx-gallery-active {
  border: 1px solid white !important;
}

/* ngx-gallery styles end */

/* Popup styles start */
.popup-info {
  background-color: green;
  columns: white;
  font-size: 1.2em;
}
/* Popup styles end*/
