:host {
  display: flex;
  flex-direction: row;
  align-items: center;

  .menu-link {
    padding: 1.2em;

    &:first-child {
      padding-left: 0;
    }
  }

  &.vertical {
    flex-direction: column;
    align-items: flex-start;

    .menu-link {
      padding: 0 0 1em 0;
    }
  }
}
